########################
#### Bokeh Platform ####
########################

# ErrorDocument
ErrorDocument 403 /index.php/http_status_forbidden
ErrorDocument 404 /index.php/http_status_not_found

# Rewrite engine
RewriteEngine On
#Options +FollowSymlinks
RewriteBase /

# This rewrite is not secure, is only for testing
#RewriteRule ^(.*)/(.*).html$ /index.php/$1/$2 [QSA,L,NC]
#RewriteRule ^(.*)/$ /index.php/$1 [QSA,L,NC]