language: php

php:
  - 5.3
  - 5.4

env:
  - DB=mysql
  - DB=mysqli

before_script:
  - sh -c "if [ '$DB' = 'mysql' ] || [ '$DB' = 'mysqli' ]; then mysql -e 'DROP DATABASE IF EXISTS bokeh_platform; CREATE DATABASE IF NOT EXISTS bokeh_platform;'; fi"
  - pyrus install --force phpunit/DbUnit
  - phpenv rehash

script:
  - phpunit --configuration tests/phpunit_$DB.xml

notifications:
  email:
    recipients:
      - info@bokehteknology.net
    on_success: change
    on_failure: change