language: php

php:
  - 5.3
  - 5.4

env:
  - DB=mysql

before_script:
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'create database IF NOT EXISTS bokeh_platform;'
  - pyrus install --force phpunit/DbUnit
  - phpenv rehash

script:
  - phpunit --configuration tests/phpunit.xml

notifications:
  email:
    recipients:
      - info@bokehteknology.net
    on_success: change
    on_failure: change