language: php

php:
  - 5.3
  - 5.4

before_script:
  - pyrus install --force phpunit/DbUnit
  - phpenv rehash

script:
  - phpunit --configuration tests/phpunit.xml

notifications:
  email:
    recipients:
      - info@bokehteknology.net
    on_success: change
    on_failure: change