<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
		backupStaticAttributes="true"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		processIsolation="false"
		stopOnFailure="false"
		syntaxCheck="true"
		strict="true"
		bootstrap="./bootstrap.php">

	<testsuites>
		<testsuite name="Bokeh Platform Test Suite">
			<directory suffix="_tests.php">./</directory>
		</testsuite>
	</testsuites>

	<groups>
		<exclude>
			<group>database</group>
		</exclude>
	</groups>

	<php>
		<var name="root_path" value="Bokeh-Platform/" />
		<var name="phpEx" value="php" />

		<server name="BP_DB_TYPE" value="mysql" />
		<server name="BP_DB_HOST" value="localhost" />
		<server name="BP_DB_PORT" value="3306" />
		<server name="BP_DB_NAME" value="bokeh_platform" />
		<server name="BP_DB_USER" value="root" />
		<server name="BP_DB_PASS" value="" />
	</php>
</phpunit>